networks:
  app-network:
    external: true

services:
  reverse-proxy:
    image: cp25ms1/nginx:latest
    container_name: reverse-proxy
    restart: always
    ports:
      - "80:80"
      - "433:433"
    volumes:
      - ./logs:/var/log/nginx
      - ./certs:/etc/nginx/certs:ro
    networks:
      - app-network