name: Deploy Production

on:
  workflow_run:
    workflows: ["Build and Push (Production)"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: [self-hosted, Linux, X64]


    steps:
      - name: Deploy on VM
        run: |
          cd /deploy

          echo "Pulling latest images..."
          docker compose pull

          echo "Restarting services..."
          docker compose up -d --remove-orphans
